@import "../src/pages/pages.css";

.App {
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
}
.landing-page > main {
  display: flex;
}
.nav-bar {
  display: flex;
  background-color: var(--primary);
  justify-content: center;
}

.nav-bar > a {
  padding: 15px 20px;
  height: 100%;
  color: hsla(0, 0%, 100%, 0.9);
}
