@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main: 240;
  --primary: hsl(var(--main), 100%, 40%);
  --button-bg: hsl(calc(var(--main) - 20), 100%, 70%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}
#root {
  display: flex;
  justify-content: center;
  height: 100%;
}

h1 {
  font-weight: 100;
  text-shadow: 1px 1px 3px gray;
  color: var(--primary);
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 600;
}
h4 {
  font-weight: 700;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: hsla(0, 0%, 100%, 0.15);
}
